* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
body {
  background-color: rebeccapurple;
  color: aliceblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: grey;
  width: 90%;
  max-width: 800px;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 0 2px 2px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.questions_container{
width: 100%;
/* display: flex; */
flex-direction: flex;
justify-content: center;
align-items: center;
gap: 24px;
}
.Question{
    width: 100%;
font-size: 24px;
font-weight: 600;
text-align: center;
}
.answers_container{
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 16px;
}
 button{
margin-top: 32px;

}

.button{
background-color: rgb(255, 255, 255);
color: black;
font-size: 16px;
font-weight: bold;
border: 0;
border-radius: 6px;
height: 48px;
padding: 0 32px;

transition: filter 0.2 ;
}

.button:not(:disabled):hover{
filter: brightness(0.8);
}
.final-message{
  font-size: 20px;
  text-align: center;
}
.final-message span{
display: block;
margin-top: 8px;
}

.answers:disabled{
  cursor: not-allowed;
}

.hide{
    display: none;
}
.correct{
  background-color:#049b48;
}
.incorrect{
  background-color: #a1010a;
}

